@{
    ViewBag.Title = "Tere tulemast pelole!";
}

<div class="jumbotron">
    <h1>@ViewBag.Greeting , Kallis sõber!</h1>
</div>

<div>
    @ViewBag.Message
    <img src="~/Images/vopros.png" alt="Smail Icon" />
</div>

<div>
    @Html.ActionLink("Vastan", "Ankeet", "Ankeet", new { @class = "btn btn-primary" })
</div>

<head>
    <style>
        /* Стили для всей страницы */
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f9;
            margin: 0;
            padding: 0;
        }

        .jumbotron {
            background-color: #007bff;
            color: white;
            padding: 30px;
            text-align: center;
            border-radius: 10px;
        }

            .jumbotron h1 {
                font-size: 36px;
                margin: 0;
            }

        .container {
            margin: 20px;
            text-align: center;
        }

        .message-container {
            margin-top: 20px;
        }

        .btn-primary {
            background-color: #007bff;
            border-color: #007bff;
            color: white;
            padding: 10px 20px;
            text-decoration: none;
            border-radius: 5px;
            font-size: 16px;
        }

            .btn-primary:hover {
                background-color: #0056b3;
                border-color: #0056b3;
            }

        .message-container img {
            max-width: 100px;
            margin-top: 15px;
        }
    </style>
</head>